# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checkout entire repo; it's tiny and we need the main branch for comparison to
      # check for removed lines.
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check allocated-pids-espressif-devboards
        working-directory: ${{ github.workspace }}/
        run: bash ./check-file-format.sh allocated-pids-espressif-devboards.txt 0x7000

      - name: Check allocated-pids
        working-directory: ${{ github.workspace }}/
        run: bash ./check-file-format.sh allocated-pids.txt 0x8000

      - name: Check removed lines
        working-directory: ${{ github.workspace }}/
        run: bash -c "! git diff origin/main | grep '^-0'"
